# Contact email configuration
CONTACT_SMTP_HOST=smtp.gmail.com
CONTACT_SMTP_PORT=587
CONTACT_SMTP_SECURE=false
CONTACT_SMTP_USER=pulsechainramp@gmail.com
CONTACT_SMTP_PASS="XXXX"
CONTACT_EMAIL_FROM=PulseChainRamp
CONTACT_EMAIL_TO=pulsechainramp@gmail.com
